# Python cache & build files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# PyQt Designer temporary
*.ui~